NET_UID=25
WALLET_NAME='test'
WALLET_HOTKEY='test'
WANDB_API_KEY=''
DHT_PORT=42316
EXTERNAL_IP=104.202.156.242

CUDA_VISIBLE_DEVICES=0
INITIAL_PEERS="/p2p/12D3KooWCvMCCJDHQ7d9pfqqkxAPD6AZdAbcXPd1d9pWvQWDpqBi"
SAVE_EVERY=0